
RewriteEngine on
RewriteCond %{HTTP_HOST} ^filcaspro\.com\.filcaspro\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.filcaspro\.com\.filcaspro\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/filcaspro\.com" [R=301,L]
RewriteCond %{HTTP_HOST} ^filcastpro\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.filcastpro\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/filcaspro\.com" [R=301,L]

